{% load bootstrap4 %}
{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    {% if title %}
    <title>Photo Gallery - {{title}}</title>
    {% else %}
      <title>Photo Gallery </title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    {% endblock %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% include "navbar.html" %}
    {% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-2">Jumbotron Heading Text Goes Here</h1>
          <p class="lead">Your jumbotron text content goes here...</p>
          <button class="btn btn-outline-danger">This is a Button</button>
        </div>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Photos for{{category}}
            </h2>
           
        </div>
        <div class="row tm-mb-90 tm-gallery">
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                image goes here               
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ image.title }}</span>                    
                </div>
            </div>
        </div>
   

    
     {%endblock%}
  </body>
</html>