{%extends 'base.html'%}

{% block content %}
{{block.super}}

{% for image_item in images %}
<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-6 tm-text-primary">
            Photos for{{category}}
        </h2>
       
    </div>
    <div class="row tm-mb-90 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <img src="{{image_item.pic.url}}" class="img-responsive" alt="Image">               
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ image.title }}</span>                    
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}