{%extends 'base.html'%}
{% load responsive_images %}

{% load static %}

{% block content %}
{{block.super}}

<div class="container-fluid">
    {% for image in images %}
   
    <div class="row ">
        <div id="image" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <img src="{{image.pic.url}}" class="img-responsive" width="300px" height="180px" alt="Image" >               
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ image.name}}</span>                    
            </div>
        </div>
    
    </div>
    {% empty %}
    <div class="row">
    <h2 class="text-center">There No Image Items</h2>
    </div>
    {% endfor %}
    </div>
{% endblock %}
</div>